.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
    position: relative;
}

.input {
    padding: 10px;
    margin-bottom: 0.2rem;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5;
}

.input:focus {
    border-color: var(--green);
}

.label {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    opacity: 0.5;
    pointer-events: none;
    transition: all 0.2s ease-out;
}

.input:focus + .label,
.input_filled + .label {
    top: -1.3rem;
    left: 0.2rem;
    opacity: 1;
}

.required {
    color: var(--red);
    position: absolute;
    top: 50%;
    margin-left: 2px;
    transform: translateY(-50%);
}

.error {
    color: var(--red);
    font-size: 0.7rem;
}
